ViamericasCareers.Application/Connected Services/ViamericasCareersServices/Careers2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ViamericasCareers.WebServices.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ViamericasCareers.WebServices.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDcJobs">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DcJobs" nillable="true" type="tns:DcJobs" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDcJobs" nillable="true" type="tns:ArrayOfDcJobs" />
  <xs:complexType name="DcJobs">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DcJobs" nillable="true" type="tns:DcJobs" />
  <xs:complexType name="ArrayOfDcCandidates">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DcCandidates" nillable="true" type="tns:DcCandidates" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDcCandidates" nillable="true" type="tns:ArrayOfDcCandidates" />
  <xs:complexType name="DcCandidates">
    <xs:sequence>
      <xs:element minOccurs="0" name="CardId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="JobDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JobId" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DcCandidates" nillable="true" type="tns:DcCandidates" />
</xs:schema>