ViamericasCareers.Application/Connected Services/ViamericasCareersServices/Careers.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Careers" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53009/Careers.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53009/Careers.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53009/Careers.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ViamericasCareers.WebServices.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICareers_ListJobs_InputMessage">
    <wsdl:part name="parameters" element="tns:ListJobs" />
  </wsdl:message>
  <wsdl:message name="ICareers_ListJobs_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListJobsResponse" />
  </wsdl:message>
  <wsdl:message name="ICareers_CandidatesList_InputMessage">
    <wsdl:part name="parameters" element="tns:CandidatesList" />
  </wsdl:message>
  <wsdl:message name="ICareers_CandidatesList_OutputMessage">
    <wsdl:part name="parameters" element="tns:CandidatesListResponse" />
  </wsdl:message>
  <wsdl:message name="ICareers_AddCandidate_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCandidate" />
  </wsdl:message>
  <wsdl:message name="ICareers_AddCandidate_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCandidateResponse" />
  </wsdl:message>
  <wsdl:message name="ICareers_JobById_InputMessage">
    <wsdl:part name="parameters" element="tns:JobById" />
  </wsdl:message>
  <wsdl:message name="ICareers_JobById_OutputMessage">
    <wsdl:part name="parameters" element="tns:JobByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="ICareers">
    <wsdl:operation name="ListJobs">
      <wsdl:input wsaw:Action="http://tempuri.org/ICareers/ListJobs" message="tns:ICareers_ListJobs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICareers/ListJobsResponse" message="tns:ICareers_ListJobs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CandidatesList">
      <wsdl:input wsaw:Action="http://tempuri.org/ICareers/CandidatesList" message="tns:ICareers_CandidatesList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICareers/CandidatesListResponse" message="tns:ICareers_CandidatesList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCandidate">
      <wsdl:input wsaw:Action="http://tempuri.org/ICareers/AddCandidate" message="tns:ICareers_AddCandidate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICareers/AddCandidateResponse" message="tns:ICareers_AddCandidate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="JobById">
      <wsdl:input wsaw:Action="http://tempuri.org/ICareers/JobById" message="tns:ICareers_JobById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICareers/JobByIdResponse" message="tns:ICareers_JobById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICareers" type="tns:ICareers">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListJobs">
      <soap:operation soapAction="http://tempuri.org/ICareers/ListJobs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CandidatesList">
      <soap:operation soapAction="http://tempuri.org/ICareers/CandidatesList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCandidate">
      <soap:operation soapAction="http://tempuri.org/ICareers/AddCandidate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JobById">
      <soap:operation soapAction="http://tempuri.org/ICareers/JobById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Careers">
    <wsdl:port name="BasicHttpBinding_ICareers" binding="tns:BasicHttpBinding_ICareers">
      <soap:address location="http://localhost:53009/Careers.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>